@import "../tools/mixins";
@import "../tools/breakpoints";


a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  @include transition;
}


// text classes
.text-right   { text-align: right;  }
.text-center  { text-align: center; }
.text-left    { text-align: left;   }


.app-title{
  @include title;
}

.app-txt{
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: var(--col-black);
}
// end of text classes

.image{
  display: block;
  max-width: 100%;
}

.section{
  position: relative;
}

.hidden{
  visibility: hidden;
  display: none;
}

.m-auto{
  display: block;
  margin: auto;
}

.mb-0 {   margin-bottom: 0;    }
.mb-10{  margin-bottom: 10px;  }
.mb-15{  margin-bottom: 15px;  }
.mb-30{  margin-bottom: 30px;  }
.mb-40{  margin-bottom: 40px;  }
.mb-45{  margin-bottom: 45px;  }
.mb-75{  margin-bottom: 75px;  }

.display-table{
  display: table;
  height: 100%;
  width: 100%;
  &__cell{
    width: 100%;
    display: table-cell;
    vertical-align: middle;
  }
}

.breadcrumbs{
  position: relative;
  &__list{
  }
  &__item{
    position: relative;
    display: inline-block;
  }
  &__item + &__item{
    padding-left: 10px;
  }
  &__item + &__item:before{
    content: '>';
    position: absolute;
    font-size: 16px;
    left: 0;
    top: -2px;
    color: var(--pinkish-grey);
  }
  &__link{
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: normal;
    font-weight: 500;
    color: var(--pinkish-grey);
    transition: all 0.3s;
    &:hover{
      color: #fff;
    }
    &.active{
      color: #fff;
    }
  }
}


.tab-content {
  display: none;
  animation: fadeEffect .5s;
  -webkit-animation: fadeEffect .5s;
  &.active{
    display: block;
  }
}

@keyframes fadeEffect{from{opacity:0}to{opacity:1}};