@import "../tools/mixins";
@import "../tools/breakpoints";


.goods{
  position: relative;
  margin-top: 65px;
  padding: 20px 0;
  @media (max-width: $breakpoint-md){
    margin-top: 40px;
  }
  &__content{

  }
  &__title{
    color: black;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 45px;
    @media (max-width: $breakpoint-lg){
      margin-bottom: 30px;
    }
  }
  &__column-left{
    @include grid-size(29%);
    @media (max-width: $breakpoint-lg){
      @include grid-size(100%);
    }
  }
  &__column-right{
    @include grid-size(calc(100% - 29%));
    @media (max-width: $breakpoint-lg){
      @include grid-size(100%);
    }
  }
  &__subtitle{
    display: block;
    color: #3d3c3c;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    @media (max-width: $breakpoint-lg){
      margin-bottom: 5px;
    }
  }
  &__row-item{
    margin-bottom: 30px;
    @media (max-width: $breakpoint-lg){
      margin-bottom: 15px;
    }
  }
  &__colors{
    li{
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      cursor: pointer;
      transition: all 0.3s;
      &:nth-child(1){
        background-color: black;
      }
      &:nth-child(2){
        background-color: #959595;
      }
      &:nth-child(3){
        background-color: white;
        box-shadow: 0 0 5px 0.1px rgba(0, 0, 0, 0.5);
      }
      &:hover{
        box-shadow: 0 0 5px 0.1px rgba(0, 0, 0, 0.5);
      }
      &.active{
        &:before{
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          border: 2px solid red;
        }
      }
    }
    li + li {
      margin-left: 20px;
    }
  }
  &__desc{
    font-weight: 700;
    margin-bottom: 25px;
  }
  &__btn{
    max-width: 150px;
  }
}


.goods-item-row{
  margin: 0 -8px;
}

.goods-item-column{
  padding: 0 8px;
}

.goods-item{
  position: relative;
  max-width: 355px;
  margin: auto auto 60px;
  @media (max-width: $breakpoint-md){
    margin: auto auto 45px;
  }
  @media (max-width: $breakpoint-sm){
    margin: auto auto 30px;
  }
  &__image{
    position: relative;
    height: 515px;
    background: bottom center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 15px;
    @media (max-width: $breakpoint-lg){
      height: 400px;
    }
    @media (max-width: $breakpoint-sm){
      height: 300px;
    }
    &:hover{
      .goods-item__overlay{
        opacity: 1;
      }
    }
  }
  &__overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: all 0.3s;
    background-color: rgba(0,0,0,0.66);
    &:before{
      content: '';
      position: absolute;
      left: 6px;
      right: 6px;
      top: 10px;
      bottom: 10px;
      border: 10px solid #dc2a1c;
    }
  }
  &__overlay-txt{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    max-width: 200px;
    margin: auto;
    transition: all 0.3s;
    transition-delay: 0.3s;
  }
  &__overlay-btn{
    position: absolute;
    bottom: 115px;
    left: 0;
    right: 0;
    width: 130px;
    margin: auto;
    @media (max-width: $breakpoint-sm){
      bottom: 50px;
    }
  }
  &__bottom{
    padding: 4px 20px;
    background-color: #1a1a1a;
    @media (max-width: $breakpoint-lg){
      padding: 5px;
    }
  }
  &__list{
    margin: 0 -5px;
    li{
      padding: 0 5px;
      @include grid-size(50%);
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      @media (max-width: $breakpoint-lg){
        font-size: 13px;
      }
    }
    li:nth-child(1){
      color: #8c8b8b;
      font-weight: 600;
    }
    li:nth-child(2){
      color: #fff;
    }
  }
}


.goods-img{
  max-width: 410px;
  &__carousel{
    margin-bottom: 20px;
  }
  &__carousel-cell{
    width: 100%;
    height: 555px;
    background: center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    @media (max-width: $breakpoint-sm){
      height: 400px;
      -webkit-background-size: contain;
      background-size: contain;
    }
  }
  &__list{
    margin: 0 -7px;
    li{
      display: inline-block;
      padding: 0 7px;
      @include grid-size(33.3333%);
      margin-bottom: 15px;
      a{
        display: block;
        width: 100%;
        height: 95px;
        background: top no-repeat #f2f2f2;
        -webkit-background-size: contain;
        background-size: contain;
        @media (max-width: $breakpoint-sm){
          height: 75px;
        }
      }
    }
  }
}