@import "../tools/mixins";
@import "../tools/breakpoints";

body.fp-viewing-app-section-1{
  .vertical-buttons__btn.--top{display: none}
}
body.fp-viewing-app-section-footer{
  .vertical-buttons__btn.--down{display: none}
}

.vertical-block{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 80px;
  z-index: 9;
  @media (max-width: $breakpoint-md){
    width: 40px;
  }
}

.vertical-nav{
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 9;
  &__item{
    margin-bottom: 5px;
    &.active > a{
      transform: scale(1.3) translateZ(0);
      transition: transform .55s cubic-bezier(.165,.84,.44,1),opacity .45s cubic-bezier(.165,.84,.44,1);
      &:before{
        opacity: 0;
      }
      span{
        transform: scale(1);
      }
    }
  }
  &__link{
    display: block;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -5px;
      margin-left: -5px;
      width: 10px;
      height: 10px;
      z-index: 1;
      border-radius: 50%;
      background-color: #fff;
      transform: scale(1) translateZ(0);
      transition: transform .55s .2s cubic-bezier(.165, .84, .44, 1), opacity .45s .2s cubic-bezier(.165, .84, .44, 1);
    }
    & > span{
      position: relative;
      color: #fff;
      display: block;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      transform: scale(0);
      transition: all 0.3s;
    }
    &:hover{
      &:before{
        background-color: var(--red-secondary);
      }
    }
  }
}

.vertical-buttons{
  position: absolute;
  bottom: 30px;
  left: 10px;
  z-index: 9;
  @media (max-width: $breakpoint-md){
    left: 5px;
  }
  li{
    margin-bottom: 3px;
  }
  &__btn{
    position: relative;
    display: block;
    width: 52px;
    height: 52px;
    color: #fff;
    line-height: 52px;
    text-align: center;
    background-color: var(--red-secondary);
    transition: all 0.3s;
    @media (max-width: $breakpoint-md){
      width: 30px;
      height: 30px;
    }
    i{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      font-size: 24px;
      transition: all 0.3s;
      @media (max-width: $breakpoint-sm){
        font-size: 16px;
      }
    }
    &:hover{
      background-color: #fff;
      i{
        color: var(--red-secondary);
      }
    }
    &.--top{

    }
    &.--bottom{}
  }
}


.app{
  &__section{
    background: top center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    &.active{
      .app__section-line{
        transform: scaleY(1) translateZ(0);
        transition: transform 1s 1s cubic-bezier(.23,1,.32,1);
      }
      .app__bottom{
        &:before{
          transform: scaleX(1) translateZ(0);
          transition: transform 1s 1s cubic-bezier(.23,1,.32,1);
        }
      }
    }
  }
  &__overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
  }
  &__container{
    position: relative;
    padding-left: 110px;
    z-index: 1;
    &.--modifier{
      padding-left: 10px;
      @media(max-width: 1200px){
        padding-left: 110px;
      }
    }
    @media (max-width: $breakpoint-md){
      padding-left: 40px;
    }
  }
  &__section-line{
    position: absolute;
    width: 1px;
    height: 70%;
    left: 80px;
    background: rgba(255,255,255,.5);
    transform: scaleY(0) translateZ(0);
    transition: transform 1s .4s cubic-bezier(.23,1,.32,1);
    bottom: 0;
    transform-origin: 0 100%;
    @media (max-width: $breakpoint-md){
      display: none;
    }
  }
  &__content{
    position: relative;
  }
  &__title{
    display: block;
    color: white;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    &.--modifier{
      margin-bottom: 30px;
      @media(max-height: 800px){
        margin-bottom: 10px;
      }
    }
    @media(max-height: 800px){
      font-size: 30px;
      line-height: 42px;
    }
  }
  &__subtitle{
    color: var(--red-secondary);
    font-size: 24px;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
  }
  &__bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 10px 30px 100px;
    max-width: 1200px;
    margin: auto;
    text-align: right;
    &:before{
      content: '';
      position: absolute;
      height: 1px;
      left: 100px;
      top: 0;
      right: 0;
      background: rgba(255,255,255,.5);
      transform: scaleX(0) translateZ(0);
      transform-origin: 100% 0;
      transition: transform 1s .4s cubic-bezier(.23,1,.32,1);
    }
    a{
      width: 190px;
      display: inline-block;
      vertical-align: middle;
    }
    a + a{
      margin-left: 10px;
    }
  }
}

.app-section-1{
  &.active {
    .app-section-1__title-line{
      transition-delay: 0.6s;
      transform: scaleX(1) translateZ(0);
    }
    .app-section-1__lines{
      span{
        &:nth-child(1){
          transition-delay: 0.4s;
          transform: scaleX(1) translateZ(0);
        }
        &:nth-child(2){
          transition-delay: 0.8s;
          transform: scaleY(1) translateZ(0);
        }
        &:nth-child(3){
          transition-delay: 1.2s;
          transform: scaleX(1) translateZ(0);
        }
      }
    }
  }
  &__title-line{
    position: absolute;
    right: 40px;
    top: -90px;
    height: 14px;
    width: 240px;
    transition: all 1s cubic-bezier(.22,1,.36,1);
    background-color: var(--red-secondary);
    transform: scaleX(0) translateZ(0);
    transform-origin: 100% 0;
  }
  &__lines{
    position: absolute;
    left: 335px;
    bottom: -100px;
    span{
      position: absolute;
      left: 10px;
      height: 14px;
      background-color: var(--red-secondary);
      transition: all 0.5s cubic-bezier(.22,1,.36,1);
      &:nth-child(1){
        width: 260px;
        bottom: 12px;
        transition-delay: 800ms;
        transform: scaleX(0) translateZ(0);
        transform-origin: 100% 0;
      }
      &:nth-child(2){
        width: 14px;
        bottom: -40px;
        height: 65px;
        transition-delay: 600ms;
        transform: scaleY(0) translateZ(0);
        transform-origin: 100% 0;
      }
      &:nth-child(3){
        width: 260px;
        bottom: -40px;
        transition-delay: 400ms;
        transform: scaleX(0) translateZ(0);
        transform-origin: 0  100%;
      }
    }
  }
}


.app-section-2 {
  @media(max-height: 800px){
    padding-top: 25px;
    .goods-item{
      &__image{
        height: 350px;
      }
      &__overlay-btn{
        bottom: 85px;
      }
    }
  }
}
.goods-gallery{
  &__cell{
    width: 25%;
    @media(max-width: 1200px){
      width: 33.3333333%;
    }
  }
}

.app-section-4{
  &.active {
    .app-section-4__line{
      &.line-1{
        transition-delay: 0.3s;
        transform: scaleX(1) translateZ(0);
      }
      &.line-2{
        transition-delay: 0.6s;
        transform: scaleY(1) translateZ(0);
      }
      &.line-3{
        transition-delay: 0.9s;
        transform: scaleX(1) translateZ(0);
      }
      &.line-4{
        transition-delay: 1.2s;
        transform: scaleY(1) translateZ(0);
      }
    }
  }
  &__line{
    position: absolute;
    height: 14px;
    background-color: var(--red-secondary);
    transition: all 0.5s cubic-bezier(.22,1,.36,1);
    &.line-1{
      left: 0;
      right: 0;
      top: 0;
      transition-delay: 200ms;
      transform: scaleX(0) translateZ(0);
      transform-origin: 100% 0;
    }
    &.line-2{
      left: 0;
      top: 0;
      bottom: 0;
      height: initial;
      width: 14px;
      transition-delay: 400ms;
      transform: scaleY(0) translateZ(0);
      transform-origin: 100% 0;
    }
    &.line-3{
      left: 0;
      right: 0;
      bottom: 0;
      transition-delay: 600ms;
      transform: scaleX(0) translateZ(0);
      transform-origin: 0 100%;
    }
    &.line-4{
      right: 0;
      top: 60px;
      bottom: 0;
      height: initial;
      width: 14px;
      transition-delay: 800ms;
      transform: scaleY(0) translateZ(0);
      transform-origin: 0 100%;
    }
  }
  &__box{
    max-width: 480px;
    position: relative;
    padding: 45px 20px;
    margin-left: auto;
    margin-right: 0;
    p{
      color: white;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
    }
  }
}



.app-section-6{
  &.active {
    .app-section-6__title-line{
      transition-delay: 0.3s;
      transform: scaleX(1) translateZ(0);
    }
    .app-section-6__line{
      &.line-1{
        transition-delay: 0.3s;
        transform: scaleX(1) translateZ(0);
      }
      &.line-2{
        transition-delay: 0.6s;
        transform: scaleY(1) translateZ(0);
      }
      &.line-3{
        transition-delay: 0.9s;
        transform: scaleX(1) translateZ(0);
      }
    }
  }
  &__title-line{
    position: absolute;
    left: 15px;
    bottom: -40px;
    height: 14px;
    width: 195px;
    transition: all 1s cubic-bezier(.22,1,.36,1);
    background-color: var(--red-secondary);
    transform: scaleX(0) translateZ(0);
    transform-origin: 0 100%;
  }
  &__line{
    position: absolute;
    height: 14px;
    background-color: var(--red-secondary);
    transition: all 0.5s cubic-bezier(.22,1,.36,1);
    &.line-1{
      left: 0;
      right: 60%;
      top: 0;
      transition-delay: 200ms;
      transform: scaleX(0) translateZ(0);
      transform-origin: 100% 0;
    }
    &.line-2{
      left: 0;
      top: 0;
      bottom: 0;
      height: initial;
      width: 14px;
      transition-delay: 400ms;
      transform: scaleY(0) translateZ(0);
      transform-origin: 100% 0;
    }
    &.line-3{
      left: 0;
      right: 75%;
      bottom: 0;
      transition-delay: 600ms;
      transform: scaleX(0) translateZ(0);
      transform-origin: 0 100%;
    }
  }
  &__box{
    max-width: 480px;
    position: relative;
    padding: 45px 20px;
    margin-left: auto;
    margin-right: 0;
    p{
      color: white;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
    }
  }
}


.circle{

}