@import "../tools/mixins";
@import "../tools/breakpoints";


.search{
  padding-top: 70px;
  &__title{
    margin-bottom: 50px;
  }
}


.search-date{
  position: relative;
  width: 270px;
  margin-bottom: 15px;
}

.search-list-count{
  margin-bottom: 15px;
  &__item{
    display: inline-block;
    & + & {
      margin-left: 20px;
    }
  }
  &__link{
    display: block;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    color: var(--pinkish-grey);
    transition: all 0.3s;
    &:hover{
      color: var(--rouge);
    }
    &.active{
      color: var(--rouge);
    }
  }
}

.search-result{
  font-size: 14px;
  line-height: normal;
  color: var(--warm-grey);
  margin-bottom: 30px;
}

.search-filter{
  margin-bottom: 30px;
  &__item{
    display: inline-block;
    & + & {
      margin-left: 5px;
    }
  }
  &__link{
    display: block;
    width: 30px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    line-height: 34px;
    color: var(--pinkish-grey);
    transition: all 0.3s;
    &:hover{
      color: var(--rouge);
    }
    &.active{
      color: #fff;
      background-color: var(--rouge);
    }
  }
}


.search-sidebar{
  margin-bottom: 80px;

}


.pagination{
  text-align: center;
  margin-bottom: 80px;
  &__list{
    margin: auto;
  }
  &__item{
    display: inline-block;
    & + & {
      margin-left: 5px;
    }
    &:last-child{
      a{
        color: #fff;
        background-color: var(--rouge);
        border: solid 1px var(--rouge);
      }
    }
  }
  &__link{
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: solid 1px var(--pinkish-grey);
    font-size: 15px;
    font-weight: bold;
    color: var(--col-black);
    @include transition;
    i{
      font-size: 12px;
    }
    &.--modifier{
      border: solid 1px transparent;
    }
    &:hover{
      color: var(--rouge);
      border: solid 1px var(--rouge);
    }
    &.active{
      color: #fff;
      background-color: var(--rouge);
      border: solid 1px var(--rouge);
    }
  }
}



.search-form{
  padding: 70px 0 95px 0;
  background-color: #fafafa;
  @media (max-width: $breakpoint-lg){
    padding: 60px 0 70px 0;
  }
  &__title{
    margin-bottom: 25px;
  }
  &__subtitle{
    @media (max-width: $breakpoint-lg){
      margin-bottom: 30px;
    }
  }
}