@import "../tools/mixins";
@import "../tools/breakpoints";

.team-intro{
  padding: 60px 0 35px 0;
  &__column{
    margin-bottom: 30px;
  }
}

.team-benefits{
  padding: 60px 0 40px 0;
  background: url(../img/team-benefits.png) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  &__overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-blend-mode: multiply;
    background-image: linear-gradient(rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.8));
  }
  &__wrap{
    position: relative;
    z-index: 5;
  }
  &__column{
    margin-bottom: 30px;
  }
  &__content{
    height: 100%;
    padding: 30px;
    border-radius: 3px;
    background-color: #fff;
    border: solid 1px #ebebeb;
    img{
      max-width: 100%;
      margin: 15px auto 35px auto;
      display: block;
    }
  }
  &__title{
    display: block;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.22;
    color: var(--col-black);
    margin-bottom: 15px;
  }

}

.team-sec{
  padding-top: 60px;
}
.team-block{
  &__content{
    padding: 40px;
    margin-bottom: 30px;
    border: solid 1px #ebebeb;
    @media (max-width: $breakpoint-sm){
      padding: 20px;
    }
  }
  &__list{
    margin-top: 50px;
    li{
      i{
        position: relative;
        top: 1px;
        margin-right: 5px;
        color: var(--col-battleship-grey);
        &:before{
          color: var(--col-battleship-grey);
        }
      }
      span{
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: normal;
        color: var(--col-black);
      }
    }
  }
  &__title{
    @media (max-width: $breakpoint-sm){
      margin-top: 30px;
    }
  }
  &__subtitle{
    display: block;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.22;
    color: var(--col-black);
    margin-bottom: 25px;
    @media (max-width: $breakpoint-lg){
      margin-top: 30px;
    }
  }
  &__btn{
    width: 170px;
  }
  .app-txt:last-child{
    margin-bottom: 70px;
  }
}